@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root {
    /*   color variables */
    --clr-primary: #d50000;
    --clr-primary-hover: #29e6a7;
    --clr-primary-dark: #039d69;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;
    --clr-gray300: #a7b7be;
    --clr-gray400: #6b7e86;
    --clr-gray500: #425a65;
  
    /*   border radius */
    --radius: 0.2rem;
  }

body {
    font-family: 'Oxygen', sans-serif;
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
}

.card {
    overflow: hidden;
    box-shadow: 0px 2px 20px var(--clr-gray200);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.card:hover {
    transform: scale(1.02);   
}

.card__image {
    height: 12rem;
    width: 100%;
    object-fit: cover; /* mantém os aspect ration da imagem */
}

.card__title {
    padding: 1rem;
}

.card__description {
    padding: 0 1rem;
}

.card__btn {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid var(--clr-primary);
    background: transparent;
    color: var(--clr-primary);
    border-radius: var(--radius);
    transition: 
        background 200ms ease-in,
        color 200ms ease-in;
}

.card__btn:hover {
    background: var(--clr-primary);
    color: white;
}



