/* Aula: https://youtu.be/JGDeOEb-uis */

@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f1faff;
}

.container__cards {
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    margin: 10px;
    transition: all 300ms;
}

.card:hover {
    width: 350px;
}

.card .cover {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
}

/* Para centralizar images dentro de uma div é necessário transformar elas em blocos através do display: block; */

.card .cover img {
    width: 250px;
    margin: auto;
    display: block;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
    transition: all 400ms;
}

.card:hover .cover img {
    top: 0px;
    filter: none;
}

.card .img__back {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.card:hover .img__back {
    bottom: -40px;
}

.card:nth-child(1) .img__back {
    background-image: url(../images/bg1.jpg);
}

.card:nth-child(2) .img__back {
    background-image: url(../images/bg2.jpg);
}

.card:nth-child(3) .img__back {
    background-image: url(../images/bg3.jpg);
}

.card .description {
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.card:hover .description {
    padding: 40px;
}

.card .description h2 {
    margin-top: 10px;
}

.card .description p {
    margin-top: 10px;
}

.card .description input {
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #a6359d;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card .description input:hover {
    background: #83277b;
}


