@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
}

header {
    width: 100%;
    height: 50px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
 
}

header ul {
    display: flex;
    gap: 30px;
}

header ul li a {
    color: #fff;
    font-size: 16px;
}

main {
    max-width: 600px;
    margin: auto;
}



h2 {
    font-size: 25px;
    color: aqua;
    margin: 10px 0px 10px 0px;
    text-align: center;
}