@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.wrapper {
    background: linear-gradient(90deg, #880fc4 0%, #1d39f2 100%);
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.wrapper h1 {
    font-size: 60px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.wrapper h5 {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 80px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.card {
    width: 380px;
    height: 350px;
    border-radius: 15px;
    margin: 7px;
    padding: 20px 30px;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.card img {
    height: 90px;
    width: 90px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 20px;
}

.card p {
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 25px;
}

.card h2 {
    font-weight: 500px;
    margin-bottom: 4px;
    position: absolute;
    bottom: 20px;
    left: 25px;
}

.card i {
    font-size: 50px;
    position: absolute;
    bottom: 10px;
    right: 25px;
    color: #b2bec3;
}

.card:hover {
    transform: scale(1.1);
    color: #333;
    background: #fff;
    z-index: 10000;
}

@media screen and (max-width: 768px) {
    .cards {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .card {
        margin: 40px 0;
    }
}

