/* MENU*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #000000;
    width: 100%;
    padding: 10px;
}

.logo, .sociais {
    width: 25%;
}

.logo img {
    width: 200px;
    cursor: pointer;
}

.menu {
    width: 50%;
}

.menu nav a {
    color: #ffffff;
    text-decoration: none;
    padding-right: 50px;
    font-size: 18px;
    position: relative;
}

/* LINHA EMBAIXO DOS ITENS DO MENU*/

.menu nav a::after {
    content: '';
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    position: absolute;
    top: 30px;
    left: 0;
    transition: width 0.5s;
}

.menu nav a:hover::after {
    width: 30px;
}

/*---------------------------------------------*/

.sociais button {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    border-radius: 8px;
    cursor: pointer;
    border: none;
    margin-right: 10px;
}

.sociais button i {
    font-size: 20px;
    color: #ffffff;
}


/* ESTILO DO MENU MOBILE*/

.menu-mobile {
    background-color: #0000008c;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 77px;
    left: 0;
    width: 100%;
    height: 0vh;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;
}

.menu-mobile nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px 30px;
    font-size: 16pt;
}

.menu-mobile nav a:hover {
    background-color: #00000080;
}

/* ESTILO E ANIMAÇÃO DO BOTÃO DO MENU MOBILE*/

#botao-menu {
    width: 50px;
    height: 50px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background: transparent;
    transition: .2s;
    cursor: pointer;
    display: none;
}

.linha {
    width: 25px;
    height: 3px;
    background-color: #ccc;
    display: block;
    margin: 5px auto;
    position: relative;
    transform-origin: center;
    transition: 0.2s;
}

#botao-menu.ativar {
    border: 2px solid red;
}

button.ativar .linha:nth-child(1) {
    transform: translateY(5px) rotate(-45deg);
    background: red;
}

button.ativar .linha:nth-child(2) {
    display: none;
}

button.ativar .linha:nth-child(3) {
    transform: translateY(-5px) rotate(45deg);
    background: red;
}


/*SLIDE CARROUSSEL*/

section.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input,
.img-mobile {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img {
    width: 100%;
}

.nav-manual,
.nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn,
.nav-auto div {
    border: 1px solid #ff0054;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

/* O "not" serve para indicar que todos os elementos que tem a class ".manual-btn" terão os parâmetros baixo menos o last-child*/

.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: #ff0054;
}

/* Mudar a cor do background das bolinhas dos slides*/

#radio1:checked~.nav-auto .auto-btn1 {
    background-color: #ff0054;
}

#radio2:checked~.nav-auto .auto-btn2 {
    background-color: #ff0054;
}

#radio3:checked~.nav-auto .auto-btn3 {
    background-color: #ff0054;
}

/* Trocar as imagens dos slides*/

#radio1:checked~.primeiro {
    margin-left: 0%;
}

#radio2:checked~.primeiro {
    margin-left: -25%;
}

#radio3:checked~.primeiro {
    margin-left: -50%;
}

/* Media queries*/

@media screen and (max-width: 1030px){
    .menu, .sociais {
        display: none;
    }

    .logo {
        width: 100%;
    }

    .menu-mobile.abrir {
        visibility: visible;
        height: calc(100vh - 77px);
    }

    #botao-menu {
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
    }

    .nav-auto,
    .nav-manual {
        margin-top: 60%;
    }
}